if context.config.project_name
  #projectname
    if context.sources.length > 0
      include menu
    a(href="#{root_path}index.html") #{context.config.project_name}
else if context.sources.length > 0
  include menu
